export default {
  async fetch(request, env) {
    const host = env.API_HOST;       // GEMINI_API_KEY
    const key = env.API_KEY;         // AQ.Ab8RN6KWwdO4Oz8sDTAtva7zbjjtszqUT-oSgw9RPPl5Ca_5IA
  }
}
